/* h1 {
  font-size: 1.875rem;
}

.btn {
  padding: 1em;
}

.btn1 {
  font-size: 1rem;
}

.btn2 {
  font-size: 2rem;
}

.btn3 {
  font-size: 3rem;
} */

.box {
  width: 50vw;
  height: 100vh;
  background: red;
}

.box2 {
  background: blue;
  width: 50%;
  height: 100px;
}
